button,
fieldset,
input {
  all: unset;
  box-sizing: border-box;
}

.container {
  background-color: var(--color-text-white);
  width: 100%;
  overflow: hidden;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.grid2Cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.grid3Cols {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.label {
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  margin-bottom: 0.5rem;
  display: block;
}

.form .input {
  width: 100%;
  padding: 10px;
  height: 32px;
  box-sizing: border-box;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  background-color: var(--color-light-gray);
  font-size: 14px;
  color: #00071b7f;
}

.form .input:focus {
  box-shadow: none;
  border: 0px;
}

.select {
  width: 100%;
  padding: 0px 10px;
  height: 32px;
  box-sizing: border-box;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  background-color: var(--color-light-gray);
  font-size: 14px;
  color: #00071b7f;
}

.error {
  color: var(--color-error);
  font-size: 0.75rem;
  margin-top: 4px;
  margin-left: 5px;
}

.cardOptions {
  display: flex;
  gap: 8px;
}

.cardOption {
  border: 1px solid var(--color-border);
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 86px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.cardOption input[type="radio"] {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid var(--color-border);
}
.cardOption input[type="radio"]:checked {
  border-color: var(--color-accent);
  border-width: 5px;
  width: 6px;
  height: 6px;
}

.cardOption input[type="radio"]:focus {
  outline: none;
}

.selectedCard {
  border-color: var(--color-accent);
}

.cardLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100;
}

.submitWrapper {
  padding-top: 1rem;
  display: flex;
  justify-content: flex-end;
}

.submitButton {
  padding: 8px 12px;
  text-align: center;
  background-color: var(--color-accent);
  color: white;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.deleteButton {
  background-color: var(--color-error);
  color: var(--color-error);
}
