/* .quote-table-container {
  width: 100%;
  overflow-x: auto;
  background: transparent;
  font-family: "Inter", sans-serif;
}

.quote-table {
  width: 100%;
  border-collapse: collapse;
}

.quote-table thead {
  background-color: transparent;
}

.quote-table th {
  padding: 8px;
  text-align: left;
  font-weight: 600;
  border-bottom: 1px solid var(--color-border);
  white-space: nowrap;
}

.quote-table .quote-table-header-background {
  background-color: var(--color-light-gray);
}

.quote-table th.sortable {
  cursor: pointer;
  user-select: none;
  position: relative;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 6px;
}

.quote-table td {
  padding: 8px;
  border-bottom: 1px solid var(--color-border);
  vertical-align: middle;
  text-transform: capitalize;
}

.product-info {
  display: flex;
  flex-direction: column;
}

.quote-table th:last-child {
  text-align: right;
  white-space: nowrap;
  display: flex;
  justify-content: flex-end;
  width: 100px;
}
.quote-table tbody td:last-child {
  text-align: right;
  white-space: nowrap;
  width: 100px;
}

.quote-table .no-quotes {
  border-bottom: 1px solid var(--color-border);
}

.quote-table .no-quotes td:last-child {
  padding-left: 10px;
  text-align: left;
}

.quote-table .order-amount {
  padding-left: 50px;
}

.quote-table .quote-table th:last-child div {
  justify-content: flex-end;
}

.quote-table .quote-link {
  color: var(--color-accent);
  border-bottom: 1px solid var(--color-accent);
  cursor: pointer;
}

.quote-table .product-untit-price {
  padding-left: 20px;
}

.quote-table-header-background th:last-child {
  width: 60px;
}
.quote-table .quote-details-table-row td:last-child {
  width: 60px;
}
.quote-table .product-quantity {
  padding-left: 30px;
}

.status-badge {
  padding: 4px 8px;
  border-radius: 4px;
  letter-spacing: 0.4px;
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize;
}

.status-cancelled {
  color: #c40006;
  background-color: #f3000d14;
}

.status-active {
  color: #00713f;
  background-color: #00a4331a;
}
.status-pending {
  color: #ab6400;
  background-color: #ffde003d;
}
.status-created {
  color: #002bb7c5;
  background-color: #0047f112;
}

.status-default {
  color: #6a6a6a;
  background-color: #f5f5f5;
}

.quote-summary {
  padding-top: 10px;
  margin-right: 10px;
}

.quote-summary .summary-label {
  font-size: 14px;
  text-align: right;
  width: 80px;
}
.quote-summary .summary-total {
  font-size: 14px;
  text-align: right;
  font-weight: 600;
  width: 80px;
}
.quote-summary .summary-amount {
  font-size: 14px;
  text-align: right;
  font-weight: 600;
} */
