button,
fieldset,
input {
  all: unset;
}

.label {
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  margin-bottom: 0.5rem;
  display: block;
}

.textInputContainer .textInput {
  width: 100%;
  padding: 10px;
  height: 32px;
  box-sizing: border-box;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  background-color: #f1f1f1;
  font-size: 14px;
  color: #00071b7f;
}
