.textInputContainer input {
  all: unset;
}

.textInputContainer {
  width: 100%;
}

.label {
  font-size: 14px;
  font-weight: 500;
  color: var(--color-text-primary);
  margin-bottom: 8px;
  display: block;
}

.textInputContainer .textInput {
  width: 100%;
  padding: 10px;
  height: 32px;
  box-sizing: border-box;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  background-color: var(--color-light-gray);
  font-size: 14px;
  color: var(--color-primaryText);
}

.textInputContainer .textInput:disabled {
  color: var(--color-disabled);
}

.textInputContainer .error {
  color: var(--color-error);
  font-size: 12px;
  margin-top: 4px;
  margin-left: 5px;
}
