.label {
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  margin-bottom: 0.5rem;
  display: block;
}

.textInput {
  width: 100% !important;
  padding: 10px !important;
  height: 32px !important;
  box-sizing: border-box !important;
  border: 1px solid #dddddd !important;
  border-radius: 4px !important;
  background-color: #f1f1f1 !important;
  font-size: 14px !important;
  color: #00071b7f !important;
}
