@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");

:root {
  --heading-font-family: "Inter", sans-serif;
  --color-text-black: #000000;
  --color-text-white: #ffffff;
  --color-text-gray: #6a6a6a;
  --color-light-gray: #f1f1f1;
  --color-text-blue: #0f88cc;
  --color-accent: #0088cc;
  --color-border: #dddddd;
  --color-error: #c40006;
  --color-warning: #d88500;
  --color-success: #0088cc;
  --color-info: #0072bc;
  --color-neutral: #60646c;
  --color-bg-neutral: #0000330f;
  --color-blue-border: #0072bc72;
}

.radix-themes {
  --default-font-family: var(--heading-font-family);
}

#billing-center-content {
  font-family: var(--heading-font-family);
  line-height: 1.5;
}

hr {
  margin: 0;
}
